/* Load font */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,175;1,14..32,175&display=swap');

/* Styling the intro */
html, body, [class*="st-"], .welcome-card {
    font-family: 'Inter', sans-serif !important;
}

.welcome-card, 
.welcome-card * {
    font-size: 4vw;  /* forces all nested elements to scale */
}

.welcome-card h1{
    font-size: 6vw;
}

.welcome-card * .user-name {
    display: inline-block;
    background-color: #7276F5;
    color: white;
    padding: 0.2em 0.4em;   /* use em so it scales with font-size */
    border-radius: 0.3em;
    text-align: center;
}

.welcome-card * .wisdom-playbook {
    display: inline-block;
    background-color: #070D2E;
    color: white;
    padding: 0.2em 0.4em;   /* em-based padding scales with font */
    border-radius: 0.3em;
    text-align: center;
}
