/* Load font */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,175;1,14..32,175&display=swap');

/* Styling the intro */
html, body, [class*="st-"], .welcome-card {
    font-family: 'Inter', sans-serif !important;
}

.welcome-card, 
.welcome-card * {
    font-size: 4vw;  /* forces all nested elements to scale */
}

.welcome-card h2{
    font-size: 3vw;
}

.welcome-card * .user-name {
    display: inline-block;
    background-color: #7276F5;
    color: white;
    padding: 0.2em 0.4em;   /* use em so it scales with font-size */
    border-radius: 0.3em;
    text-align: center;
}

.welcome-card * .wisdom-playbook {
    display: inline-block;
    background-color: #070D2E;
    color: white;
    padding: 0.2em 0.4em;   /* em-based padding scales with font */
    border-radius: 0.3em;
    text-align: center;
}

.congrats-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: none;
    border: 0.5rem solid #070D2E;
    border-radius: 2rem;
    padding: 2% 3%;
    margin-bottom: 2%;
    box-shadow: 0 0.4rem 0.8rem rgba(0,0,0,0.1);
    max-width: 95%;
    margin-top: 5%;
    margin-bottom: 5%;
    /* margin-left: auto;
    margin-right: auto; */
    box-sizing: border-box;
}

.conclusion-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: none;
    border: 0.5rem solid #070D2E;
    border-radius: 2rem;
    padding: 2% 3%;
    margin-bottom: 2%;
    box-shadow: 0 0.4rem 0.8rem rgba(0,0,0,0.1);
    max-width: 95%;
    margin-top: 5%;
    margin-bottom: 5%;
    /* margin-left: auto;
    margin-right: auto; */
    box-sizing: border-box;
}
